.survey-page input, .survey-page textarea, .survey-page select{
	min-width: 100%;
	width: 100%; 
}

.survey-page select.multiple{
	min-height: 20vh;
}

.survey-page label.required:after{
	content: '*';
	color: red;
	padding-left: .5em;
}

#survey span{
	background: black;
	color: white;
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin: 1em 0;
	padding: .5em;
	width: 20%;
	text-align: center;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.survey-page .fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
 
.survey-page .fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
.survey-page progress{
	position: relative;
	width: 100%;
}


.survey-page .input-error{
	border: 2px solid red;
}
